<head>
    <meta charset="utf-8">
    <title>Konya Hurdacılar | Berat Metal Hurdacılık | Konya Hurda Alımı</title>
    <meta http-equiv="Content-Type" content="width=device-width, initial-scale=1.0" name="viewport">
    <meta  content ="Berat Metal,Berat Metal Hurdacılı,Hurda,Konya hurdacı, Konya Berat Metal, Konya selçuklu hurdacı, Metal Hurda Satımı" name="keywords">
    <meta  content="Konya ili içerisinde, HURDACILIK sektöründe faaliyet göstermekteyiz. Geri dönüşüme kazandırmak istediğiniz demir, bakır, sarı, alüminyum, kablo, krom, kurşun, talaş, dkp, döküm, inşaat demiri, güneş enerjisi, tutya ve benzeri birçok hurdalarınızı değerinde satın almaktayız." name="description">



    <!-- Favicon -->
    <link href="~/img/MainLogo.png"  rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/WooDY/carpenter-website-template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/WooDY/carpenter-website-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/WooDY/carpenter-website-template/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/WooDY/carpenter-website-template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/WooDY/carpenter-website-template/css/style.css" rel="stylesheet">


    <link href="~/css/StyleSheet.css" rel="stylesheet">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Google tag (gtag.js) -->
    <script async src="YOUR GOOGLE MANAGER LİNK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'YOUR GOOGLE MANGER ID');
    </script>
    <script>
        <!-- Google Analytics kodu buraya gelecek -->
    </script>
    <script>
        <!-- Google Analytics kodu buraya gelecek -->
    </script>


</head>