<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Muhammet Cansever
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
					
						<li>
							<a href="/Admin/UpdateAdmin">
								<span class="link-collapse"> Şifremi Değiştir</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-home"></i>
					<p>Siteye Dön</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="/About/UpdateAbout/">
					<i class="la la-table"></i>
					<p>Hakkında</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact/UpdateContact/">
					<i class="la la-bell"></i>
					<p>İletişim</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Feature/FeatureList/">
					<i class="la la-apple"></i>
					<p>Ana Resim(Kaydırılabilir Resim)</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Scrap/ScrapList/">
					<i class="la la-apple"></i>
					<p>Hurdalar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Layout/Logout">
					<i class="la la-fonticons"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>