@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/LoginLayout/Index.cshtml";
}


<div class="container">
    <div class="contact-form">

        <form method="post" action="/Login/ForgotPassword">
            <div class="txtb">
                <input type="email" name="email" placeholder="E-posta adresinizi girin" required>
            </div>
            <button type="submit" class="btn-outline">Şifreyi Sıfırla</button>
        </form>

 
    </div>
</div>
<style>
    .btn-outline {
        color: rgb(226, 19, 70);
        outline: 0;
        border: 2px solid currentcolor;
        transition: 0.3s ease all;
        background-color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding: 12px 25px;
        display: inline-block;
    }

        .btn-outline:hover {
            color: #fff;
            border-color: transparent;
            background-color: rgb(226, 19, 70);
        }
</style>