@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/LoginLayout/Index.cshtml";
}

<div class="container">
    <div class="contact-form">

        <form method="post" action="/Login/Index">
            <h1> Şifre Sıfırlama İsteğiniz Başarıyla Alındı</h1>
            <p>Şifre sıfırlama bağlantısı e-posta adresinize gönderildi. Lütfen e-postanızı kontrol edin.</p>

            <button class="btn-outline" href="/Login/Index">
                Ana Sayfaya Dön
            </button>
        </form>


    </div>
</div>
<style>
    .btn-outline {
        color: rgb(226, 19, 70);
        outline: 0;
        border: 2px solid currentcolor;
        transition: 0.3s ease all;
        background-color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding: 12px 25px;
        display: inline-block;
    }

        .btn-outline:hover {
            color: #fff;
            border-color: transparent;
            background-color: rgb(226, 19, 70);
        }
</style>



