@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/LoginLayout/Index.cshtml";
}

@model WebApplication1.DAL.ViewModel.ResetPasswordViewModel

@Html.AntiForgeryToken()

<div class="container">
    <div class="contact-form">
        <h1>Şifre Sıfırla</h1>
        <p>Yeni bir şifre belirlemek için lütfen aşağıdaki formu doldurun.</p>

        <form asp-action="ResetPassword" method="post" id="resetPasswordForm">
            <div class="txtb">
                <input type="hidden" asp-for="Token" name="Token" value="@Model.Token" />

                <div class="form-group">
                    <label for="NewPassword">Yeni Şifre</label>
                    <input asp-for="NewPassword" class="form-control" name="NewPassword" type="password" placeholder="Yeni şifrenizi girin" required />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="txtb">
                <div class="form-group">
                    <label for="ConfirmPassword">Şifreyi Onayla</label>
                    <input asp-for="ConfirmPassword" class="form-control" name="ConfirmPassword" type="password" placeholder="Şifrenizi tekrar girin" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <span id="passwordError" class="text-danger" style="display: none;">Şifreler eşleşmiyor, lütfen tekrar deneyin.</span>

            <button type="submit" class="btn-outline">Şifreyi Sıfırla</button>
        </form>
    </div>
</div>

<style>
    .btn-outline {
        color: rgb(226, 19, 70);
        outline: 0;
        border: 2px solid currentcolor;
        transition: 0.3s ease all;
        background-color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding: 12px 25px;
        display: inline-block;
    }

    .btn-outline:hover {
        color: #fff;
        border-color: transparent;
        background-color: rgb(226, 19, 70);
    }
</style>

<script>
    document.getElementById("resetPasswordForm").addEventListener("submit", function (e) {
        var newPassword = document.querySelector("input[name='NewPassword']").value;
        var confirmPassword = document.querySelector("input[name='ConfirmPassword']").value;
        var errorElement = document.getElementById("passwordError");

        if (newPassword !== confirmPassword) {
            e.preventDefault(); // Formun gönderimini durdur
            errorElement.style.display = "block"; // Hata mesajını göster
        } else {
            errorElement.style.display = "none"; // Hata mesajını gizle
        }
    });
</script>